{% extends 'serves/base.html' %}

{% load static %}

{% block home %}
    <div class="row main_site_banner">
        <div class="image_wrapper">
            <img src="{% static 'akhorsfall/images/slides/adult-business-care-305565.jpg' %}" alt="banner" height="500px" width="100%">
            <div class="container">
                <h2 class="wrapper_text">In charity there is no excess</h2>
                <p>...the deeds of giving remain the very foundations of the world</p>
                <a href="{% url 'about_us' %}" class="cta_about btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>

    <!-- Content blocks begin -->
    <section class="bg-river">
        <div class="container">
            <div class="row">
              	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 white padding-top20 padding-bottom30">
                    <div class="col-xs-2">
                            <span class="fa fa-eye fa-2x sunflower top20"></span>
                        </div>

                        <div class="col-xs-10 wow fadeInLeft">
                            <h3 class="white">Our Vision</h3>
                          	<p class="white">To promote the well-being of humanity in Nigeria and throughout the world.</span>
                        </div>

                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 white padding-top20 padding-bottom30 bg-deepocean"
                       style="background: #00A8FF">

                  		<div class="col-xs-2">
                            <span class="fa fa-support fa-2x sunflower top20"></span>
                        </div>

                        <div class="col-xs-10 wow fadeInUp">
                            <h3 class="white">The Mission</h3>
                          	<p class="white">Promoting Peace and Security, especially in the Niger delta area of Nigeria. </span>
                        </div>

                  </div>

                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 white padding-top20 padding-bottom30 bg-aqua" style="background: #7c1212">


                  		<div class="col-xs-2">
                            <span class="fa fa-line-chart fa-2x sunflower top20"></span>
                        </div>

                        <div class="col-xs-10 wow fadeInRight">
                            <h3 class="white">Our Values</h3>
                          	<p class="white">To promote the spirit of Giving and Charitable enterprises of the foundation.</span>
                            </address>
                        </div>
                  </div>
            </div><!-- /.row -->
      </div>
      <!-- /.container -->
    <div></div>

    </section>
    <!-- Content blocks end -->

    <!-- What we do Start -->

    <div class="row top80 bottom100">

          <div class="container">
              <div class="centered">

                <div class="top20"></div>

                <div class="style-title" style="color: green">Effort <strong> Precisely Channelled</strong><p class="top10" style="color: #8c8c8c;">( We're completely a Philanthropic &amp; Charity Foundation  )</p></div>
                  <div class="separator">
                      <div class="separator-style"></div>
                  </div>
                <div class="top20"></div>

              </div>
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 padding-top20">
                  <div class="col-xs-2 wow fadeInLeft"> <span class="glyphicon glyphicon-education fa-2x river"></span> </div>
                  <div class="col-xs-10 wow fadeInLeft">
                    <div>
                      <h4 class="black module-title">Educational Grants</h4>
                    </div>
                    <div>
                      <p>We help outstanding pupils, students and those who are not able to continue their education due to financial constraints.  </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 padding-top20">
                  <div class="col-xs-2 wow fadeInUp"> <span class="fa fa-hospital-o fa-2x river"></span> </div>
                  <div class="col-xs-10 wow fadeInUp">
                    <div>
                      <h4 class="black module-title">Medical Care</h4>
                    </div>
                    <div>
                      <p>Sponsored health camps and well-arranged medical teams, including medical supplies to aid those in need.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 padding-top20">
                  <div class="col-xs-2 wow fadeInRight"> <span class="glyphicon glyphicon-wrench fa-2x river"></span> </div>
                  <div class="col-xs-10 wow fadeInRight">
                    <div>
                      <h4 class="black module-title">Sustainable Peace &amp; Security</h4>
                    </div>
                    <div>
                      <p>We encourage peaceful co-existence among Nigerian citizens, regardless of their ethnic backgrounds.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 padding-top20">
                  <div class="col-xs-2 wow fadeInUp"> <span class="fa fa-magic fa-2x river"></span> </div>
                  <div class="col-xs-10 wow fadeInUp">
                    <div>
                      <h4 class="black module-title">Results Delivered</h4>
                    </div>
                    <div>
                      <p>We are focused on the areas of greatest need, on the ways in which we can do the most good.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 padding-top20">
                  <div class="col-xs-2 wow fadeInUp"> <span class="glyphicon glyphicon-alert fa-2x river"></span> </div>
                  <div class="col-xs-10 wow fadeInUp">
                    <div>
                      <h4 class="black module-title">Responsive Approach</h4>
                    </div>
                    <div>
                      <p>We turn caring into action because we know what the problems are, know the solutions and create impacts.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 padding-top20">
                  <div class="col-xs-2 wow fadeInUp"> <span class="fa fa-comments-o fa-2x river"></span> </div>
                  <div class="col-xs-10 wow fadeInUp">
                    <div>
                      <h4 class="black module-title">Reliable Support</h4>
                    </div>
                    <div>
                      <p>We are relentless in our drive to offer humanitarian services by tackling very tough problems.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.row -->
            </div>

    </div>

    <!-- What we do end -->

    <!-- Our programs begins  !! -->
    <div class="row top60 bottom100">
        <div class="container">
            <div class="centered">
                <div class="top20"></div>
                <div class="style-title" style="color: green"> Our <strong> Programs </strong>
                    <p class="text" style="color: #9f9f9f"> We channel our efforts into philanthropy & charity for sustainable peace and development</p></div>
                <div class="separator">
                      <div class="separator-style"></div>
                  </div>
                <div class="top10"></div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-center  padding-top20 wow flipInY">
                    <img class="img-responsive img-rounded" src="{% static 'akhorsfall/images/slides/youths_empowerment.jpg' %}" alt="">
                    <h4 class="top30">Youths Development</h4>
                    <p><p> At A.K Horsfall Foundation, we  promote youths development through activities and experiences that help youths develop social, ethical, emotional, physical, and cognitive competencies ...</p>
                    <a class="btn btn-primary top20" href="{% url 'youths_empowerment' %}"> More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="col-sm-3 text-center  padding-top20 wow flipInY">
                    <img class="img-responsive img-rounded" src="{% static 'akhorsfall/images/slides/blood-sugar-chronic-diabetes-46173.jpg' %}" alt="">
                    <h4 class="top30">Free Healthcare</h4>
                    <p><p> Part of our efforts focused on providing specialized medical attention in the Niger Delta ...</p>
                    <a class="btn btn-primary top20" href="{% url 'healthcare' %}"> More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="col-sm-3 text-center  padding-top20 wow flipInY">
                    <img class="img-responsive img-rounded" src="{% static 'akhorsfall/images/slides/security1.jpg' %}" alt="">
                    <h4 class="top30">Peace & Security</h4>
                    <p><p> We work towards advancing the course of peace and tranquility, especially in the Niger Delta region ...</p>
                    <a class="btn btn-primary top20" href="{% url 'peace_and_security' %}"> More <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="col-sm-3 text-center  padding-top20 wow flipInY">
                    <img src="{% static 'akhorsfall/images/slides/black-and-white-browsing-business-265152.jpg' %}" class="img-responsive img-rounded">
                    <h4 class="top30">Education &amp; Skill Development</h4>
                    <p><p> A.K. Horsfall Foundation strives to focus on Educational programs as one of its primary objectives ...</p>
                    <a class="btn btn-primary top20" href="{% url 'education_and_training' %}"> More <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
        </div>
    </div>

    <!--  Our programs ends -->


{% endblock %}