{% extends 'serves/base.html' %}
{% load static %}

{% block vission_and_mission %}
    <div class="main" role="main">
        <div class="row business-header vision_and_mission " style="background: url('{% static 'akhorsfall/images/about/vision.jpeg' %}') center top no-repeat">
      			<div class="container">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="custom-page-header">
                            <h1>We are dedicated to helping others</h1>
                        </div>
                    </div>
    			</div>
      		</div>
    </div>
{% endblock %}