{% extends 'serves/base.html' %}

{% load static %}

{% block youths_empowerment %}

    <div class="main" rel="main">
        <!-- subheader start -->
      		<div class="row business-header img-responsive" style=  "background: url('{% static 'akhorsfall/images/programs/amplify.jpg' %}')">
      			<div class="container">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="custom-page-header">
                          <h1 style="background: limegreen !important; ">Actions based on engagements</h1>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 120px;">
                        <ol class="breadcrumb pull-right" >
                          <li><a href="{% url 'home' %}">Home</a></li>
                          <li><a href="#">Programs</a></li>
                          <li class="active">Empowerment</li>
                        </ol>
    				</div>
    			</div>
      		</div>
     	<!-- subheader end -->

        <!-- Content start -->
      		<div class="row content">

                    <!-- Services Title Start -->
                      <!--<div class="row">
                      	<div class="container">
                            <div class="col-lg-12 wow slideInDown">
                              <h2 class="page-header">Our Services <small>What We Do</small></h2>
                            </div>
                		</div>
                      </div>-->
                      <!-- Services Title End -->

                      <!-- Services Image Start -->
                      <div class="row">
                      	<div class="container wow fadeIn">
                              <div class="col-lg-12">
                                <img class="img-responsive" src="{% static 'akhorsfall/images/programs/youth_em6.jpg' %}">
                              </div>
                		</div>
                      </div>
                      <!-- Services Image End -->

                      <!-- Service Paragraphs Start -->

                      <div class="row">
                		<div class="container">
                            <div class="col-md-8 wow fadeInLeft">
                              <h2 class="page-header top30" style="color: limegreen">Path Towards increased self-efficacy</h2>
                                <p style="color: #8c8c8c"> Our course is for positive development anchored on creating higher and healthier quality of life and increased self-efficacy. What we do is inspiring people to take actions based on engagements that focus on empowering youths to think more critically, through projects that promote capacity building in individuals.</p>
                            </div>

                            <div class="col-md-4 wow fadeInRight">
                              <h2 class="page-header top30" style="color: limegreen">Collaboration</h2>
                                <p style="color: #8c8c8c">We understand that most impacts of our work are felt by local dwellers, so we look for those who can help us reach such individuals easier. </p>
                                <a class="btn btn-primary" href="#">Join Us</a>
                            </div>
                		</div>
                      </div>

                      <!-- Service Paragraphs End -->


                      <!-- Service Icons Start -->

                      <div class="row top80 padding-bottom80 bg-offwhite">

                    	<div class="container">

                            <div class="col-lg-12 wow slideInDown">
                              <h2 class="page-header top60 bottom60" style="color: limegreen">Different Specialized Portfolios</h2>
                            </div>

                            <div class="col-sm-4 text-center">
                              <a href="#" class="wow fadeInUp"><i class="fa fa-scissors fa-5x" style="color: limegreen"></i></a>
                              <h4 class="wow fadeInUp top30" style="color: limegreen">Skill Aquisition</h4>
                              <p class="wow fadeInUp" style="color: #8c8c8c">A.K. Horsfall Foundation has rolled out various technical skill acquisition schemes in areas such as Agriculture, Information Technology (IT), Cinematography, Auto-mechanics, etc. to a good number of beneficiaries.</p>
                            </div>

                            <div class="col-sm-4 text-center">
                              <a href="#" class="wow fadeInUp"><i class="fa fa-tags fa-5x" style="color: limegreen"></i></a>
                              <h4 class="wow fadeInUp top30" style="color: limegreen">Craft &amp; Artisans</h4>
                              <p class="wow fadeInUp" style="color: #8c8c8c">The task is challenging, but we're determined to touch lives. Our empowerment initiative has also  a platform that targets those interested  artisans, craft such as Carpentry and Woodwork, Sewing &amp; Tailoring. </p>
                            </div>

                            <div class="col-sm-4 text-center">
                              <a href="#" class="wow fadeInUp"><i class="glyphicon glyphicon-link fa-5x" style="color: limegreen"></i></a>
                              <h4 class="wow fadeInUp top30" style="color: limegreen">Social Development</h4>
                              <p class="wow fadeInUp" style="color: #8c8c8c">We place people at the heart of our developmental programs. All efforts we make are meant to benefit people directly, and we work for the well-being of every individuals within and outside our catchment ereas. </p>
                            </div>

                		</div>

                      </div>
                      <!-- Service Icons End -->

                      <!-- Service Module Start -->

                      <div class="row top70 bottom30">
                          <div class="container">
                              <div class="col-sm-6">
                                  <h2 style="color: limegreen">Empowering the less-privileged</h2>
                                  <h4 class="lead" style="color: limegreen">Intervention that is worth showing.</h4>
                                  <p style="color: #8c8c8c"> The A.K. Horsfall Foundation has over the years given scholarships to various indigent undergraduate students and a few secondary school students. This programme is potentially effective but had been limited in scope due to the paucity of funds which has so far come primarily from Chief A.K. Horsfall. Together, we can do more.</p>
                                  <div class="row top30">
                                      <div class="col-sm-5 col-xs-12"> <a href="#" class="btn btn-block btn-success"> Let's Partner</a> </div>
                                      <div class="col-sm-5 col-xs-12"> <a href="#" class="btn btn-block btn-dark" style="color: #FFFFFF"> Become a Volunteer</a> </div>
                                  </div>
                              </div>
                              <div class="col-sm-5 col-sm-offset-1"> <img class="img-rounded img-responsive" src="{% static 'akhorsfall/images/programs/youth_em5.jpeg' %}" alt=""> </div>
                          </div>
                      </div>
                      <!-- Service Module End -->
      		</div>
     	<!-- Content end -->


    </div>
{% endblock %}